.Navbar-Container{
    position: fixed;
    background-color:#F9D3D3;
    width: 100vw;  
    height: 58px;
    z-index: 1;
}

.heading {
    position: relative; top: 23%; left: 1%;
    color: black;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.2s ease-in-out;
}

.heading:hover {
    transform: scaleY(1.1); 
    color: greenyellow;
}

.Search-Bar-Container{
    position: relative;
    top: -23px;
    display: flex;
    justify-content: center;
}

.Search-Bar{
    width: 339px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid palevioletred;
}

.Search-Bar:hover {
    border-color: lightseagreen; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.Search-Image-Container{
    cursor: pointer;
    position: relative;
    left: -1.6rem; 
}

.Search-Image  {
    width: 20px;
    height: 20px;
}


.Desktop-Navigation-Container{
    display: flex;
    justify-content: space-evenly;
    position: relative;top: 80px;
}

.Desktop-Navigation-Container a{
    color: black;
    text-decoration: none;
}

.Desktop-Navigation-Container a.active {
    color: black;
    text-decoration: none;
    color:#333333   ;
}

.Navigation-Container{
    display: none;
}

.Hamburger{
    display: none;
}

/* CSS for the Hover-Dropbox */

.Home-Hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: auto  ;
    gap: 10px;
    padding: 20px;
    position: absolute;
    top: 19%; 
    left: 12.5%;
    width: 150px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    background-color:rgb(221, 237, 238);
    border-radius: 11px;
    text-align: center;
}

.Iphone-Hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 18%; 
    left: 35.5%;
    width: 110px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    background-color:rgb(221, 237, 238);
    border-radius: 11px;
    text-align: center;
}

.Laptop-Hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 18%; 
    left: 54.5%;
    width: 205px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    background-color:rgb(221, 237, 238);
    border-radius: 11px;
    text-align: center;
}

.Watch-Hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 18%;
    left: 72.5%;
    width: 205px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    background-color: rgb(221, 237, 238);
    border-radius: 11px;
    text-align: center;
}


.Hover-Text{
    color: black;
    text-decoration: none;
}

.Hover-Text:hover{
    color: red;
}

.Shopping-cart{
    position: fixed;
    top: 1.7rem;
    left: 83%;
    cursor: pointer;
    z-index: 1;
}

.User-Icon{
    position: fixed;
    top: 1.7rem;
    left: 80%;
    cursor: pointer;
    z-index: 1;
}

#cartcount{
    font-size: 10px;
    background-color: red;
    color: white;
    /* padding: 2px 4px; */
    /* vertical-align: top; */
    /* margin-left: 290px; */
    border-radius: 50%;
    margin-top: 5px;
    position: fixed;
    left: 85.5%; /* Center the toast horizontally */
    transform: translateX(-85.5%) translateY(9px);
    z-index: 1;
}

.badge{
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
}

@media screen and (min-width:330px) and (max-width:950px){
.Hamburger{
    display: block;
    position: relative;
    top: 58px;
    left: 11px;
    z-index: 1;
    position: fixed;
}

.Navbar-Container{
    top: -1px;
   height: 90px;
   width: 100%;
}

.heading{
    position: relative;
    top: 11px;
    left: 3%;
    font-size: 20px;
    width: 168px;
}

.Search-Bar{
    position: relative; left: 7%; top: 40px;
    width: 90%;
    padding: 3px;
}

.Search-Image-Container{
    z-index: 1;
    position: relative;
    left: -0.5rem; top: 2.6rem;
}

.d-container{
    display: none;
}

 .Navigation-Container{
    display: block;
    position: absolute;
    top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    width: 100%;
    height: 212px;
}

.home{
text-decoration: none;
color: brown;
}

.Navigation-Containerr a{
    color: black;
    text-decoration: none;

}

.Navigation-Container a.active {
    color: black;
    text-decoration: none;
    color:brown;
    
}



hr{
    border-bottom: 0.8px solid aliceblue;
    z-index: 1;
    width: 100%;
}

.Shopping-cart{
    position: fixed;
    top: 12px;
    left: 274px;
}

.User-Icon{
    position: fixed;
    top: 11px;
    left: 244px;
}

#cartcount{
    left: 76%;
    transform: translateX(-76%);
}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .User-Icon{
        position: fixed;
        top: 20px;
        left: 648px;
    }

    .Shopping-cart{
        position: fixed;
        top: 21px;
        left: 701px;
    }

    .Hamburger{
        display: block;
        position: relative;
        top: 58px;
        left: 19px;
        z-index: 1;
        position: fixed;
    }

    .Search-Bar{
        position: relative;
        left: 2%;
        top: 40px;
        width: 90%;
        padding: 3px;
    }

    #cartcount{
        left: 89%;
        transform: translate(-76%, -117%);
    }
}