@media screen and (min-width:330px) and (max-width:950px){

.Button-Container{
    position: fixed;
    right: 50%;
    transform: translateX(159px) translateY(38px);
    z-index: 1;
}

.Button-Container::before{
    position: relative;
    top: 25px;
    left: 60%;
}

.Btn-Style{
    width: 143px;
    height: 29px;
}


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .Button-Container{
        position: fixed;
        right: 50%;
        transform: translateX(343px) translateY(25px);
        z-index: 1;
    }
}